[logging]
idle = 9000 # Minimum idle time, in seconds.
db = remote
cache_interval = 9000 # interval to submit cache, in seconds.
cache_file = logger.cache

[info]
file = timelogger.log

[remote]
address = "http://127.0.0.1:5000/rpc"
key = dfasdfa

[mysql]
server = 127.0.0.1
db = logger
user = test
password = test